.nav-item .nav-link,
.navbar-nav .nav-link {
    color: black;
    font-weight: 600;
}

.hero,
.update {
    background-color: rgb(72, 84, 118);
}

.about-section img {
    width: 70px;
}

.about-section .card-body p {
    opacity: 0.6;
}

footer ul li {
    padding: 5px 0;
}

footer ul li a {
    text-decoration: none;
    color: white;
}
